<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adicionar carro</title>
</head>
<body>
    <div class="textoCentralizado">
        <h2>Adicionar Carros</h2>
        <div id="grad1">
            <form method="POST" action="/carros/salvar">
                <div>
                    <label for="nm_marca">Marca</label>
                    <input type="text" name="nm_marca" placeholder="Digite o nome da marca"/>
                    </div>
                    <div>
                        <label for="nm_modelo">Modelo</label>
                        <input type="text" name="nm_modelo" placeholder="Digite o nome do modelo">
                    </div>
                    <div>
                        <label for="ds_cor">Cor</label>
                        <input type="text" name="ds_cor" placeholder="Digite a cor do carro">
                    </div>
                    <div>
                        <label for="nr_placa">Placa</label>
                        <input type="text" name="nr_placa" placeholder="Digite o número da placa">
                    </div>
                    <input type="submit" value="Cadastrar">
                </div>
            </form>
        </div>
    </div>
</body>
</html>