<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adicionar produto</title>
</head>
<body>
    <form method="POST" action="">
        <input type="text" name="nm_produto" placeholder="Digite o nome do produto"/>
        <br>
        <input type="number" name="qtd_produto" placeholder="Digite a quantidade de produtos">
        <br>
        <input type="submit" name="cadastrar" value="Cadastrar">
    </form>
</body>
</html>