<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de nomes dos produtos</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
</head>
<body>
    <h1>Lista de nomes dos produtos</h1>
    <!-- Trabalhando com JS <% %> -->
    <!-- Imprimindo com JS <%= %> -->
    <table style="width:50%">
            <tr>
                <th>NOME</th>
                <th>DESCRIÇÃO</th>
            </tr>
            <% for(var i=0; i < produto.length; i++){ %>
                <tr>
                    <td><%= produto[i].nm_produto %></td>
                    <td><%= produto[i].ds_produto %></td>
                </tr>
            <% }  %>
        </table>
</body>
</html>